@model NoteTaker.Models.Note

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit","Note")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Note</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Revision)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Revision)
            @(Model.Revision??"New Document")
            @Html.ValidationMessageFor(model => model.Revision)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            <em>(separated by spaces)</em>
        </div>

        <p>
            <input type="submit" value="Save" /> 
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
