@model NoteTaker.Models.NoteList

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notes</h2>

<table>
    <tr>
        <th>
            Title
        </th>
        <th></th>
    </tr>
@if (!Model.Notes.Any()){
     <tr>
        <td colspan=2>
            <em>No Notes to show.</em>
        </td>
    </tr>
}
@foreach (var item in Model.Notes)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, rev = item.Revision })
        </td>
    </tr>
}

</table>
<ul>
<li><a href='/Note'>View All</a></li>
@foreach (var tag in Model.Tags.OrderByDescending(x=>x.Value)) { 
    <li><a href='/Note/Tagged/@tag.Key'>@(tag.Key)(@tag.Value)</a></li>
}
</ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
